<form [formGroup]="searchForm" novalidate class="form-control search-form" [ngClass]="{'has-danger' : searchForm.invalid}"
      (ngSubmit)="send(searchForm.value.searchString)">
  <div class="form-group row">
    <label for="searchBody" class="col-2 col-form-label search-form__label">I'm looking for</label>
    <div class="col-8">
      <input class="form-control" type="text" formControlName="searchString" id="searchBody">
    </div>
    <div class="col-2">
      <button type="submit" [disabled]="searchForm.invalid" class="btn btn-primary">Send</button>
    </div>
  </div>
</form>

<div class="alert alert-success" role="alert" *ngIf="isShowAlert">
  <strong>Well done!</strong> Your request was added successfully
</div>

